<header class="[ intro ] [ pad-top-900 pad-bottom-max ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    <h1 class="[ intro__heading ] [ text-800 md:text-900 leading-tight ] [ p-name ]">{{ introHeading }}</h1>
    {% if introSummary %}
      <div class="[ intro__summary ] [ sf-flow ] [ leading-mid measure-short ]">{{ introSummary | safe }}</div>
    {% endif %}
    <div class="intro__links">
      <a href="https://podcasts.apple.com/us/podcast/thats-my-jamstack/id1472756044"><img src="/images/itunes.svg" alt="Get on iTunes"></a>
      <a href="https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&isi=691797987&ius=googleplaymusic&apn=com.google.android.music&link=https://play.google.com/music/m/Ilxtgtk26lme6cadqktmdrl3wy4?t%3DThat's_my_JAMstack%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16"><img src="/images/google-play-badge.png" alt="Get on Google Play"></a>
      <a href="https://pinecast.com/feed/thats-my-jamstack"><img src="/images/rss.png" alt="Use the RSS Feed"></a>
    </div>
  </div>
</header>
